@{
    ViewData["Title"] = "Доступ запрещен";
}

<div>
    Доступ запрещен
    <form action="/logout" method="post">
        <button type="submit">Выйти</button>
    </form>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
